<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Mi Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="authService.cantidadComprada > 0">

  <div class="wrapContent pasoUno" *ngIf="pasoUno">
    <h2 text-center class="pageTitle">CONFIRMAR CANTIDAD DE MATERIALES </h2>
    <ion-grid class="wrapProductos">

      <ion-list  *ngFor="let prod of pedido">
      
      <ion-row class="producto ion-align-items-center">
        <ion-col size="2" class="imgProducto">
          <img src="../../../assets/imgs/bolsa-loma-negra.jpg"/>
        </ion-col>
        <div  *ngIf= "prod.cant == 0" class="wrapProductos">    
          <form [formGroup]="todo" (ngSubmit)="logForm(prod,cantidad2)">
              <ion-col size="8" align-self-center class="descProducto">
                <p class="nombreProductoUno">{{prod.descripcion}}</p>
                <ion-input class="inputCantidad" type="number" placeholder="Ingresar cantidad" formControlName="cantidad2"></ion-input>
              </ion-col>
          </form>
        </div>
        <div  *ngIf= "prod.cant > 0" class="wrapProductos">
           <h5> Cantidad solicitada:  {{ prod.cant}}</h5>
        </div>
        <ion-col size="2" class="eliminarProducto">
          <ion-button class="deleteProduct" (click)="quitar(prod)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      </ion-list>
    </ion-grid>
    <ion-button class="btnContinuar" color="secondary" expand="block" (click)="goToPasoDos()">
      CONTINUAR
    </ion-button>
  </div>
</div> 
  <div class="wrapContent pasoDos" *ngIf="pasoDos">
      <h2 text-center class="pageTitle">CONFIRMAR DETALLES DE LA SOLICITUD</h2>
      <div class="wrapForm proyecto">
        <h3>PROYECTO</h3>
         <ion-select [(ngModel)]="proyectos" class="alertProyecto" interface="alert" placeholder="Seleccione el proyecto" okText="Seleccionar" cancelText="Cancelar">
        
        <ion-list  *ngFor="let proy of proyectos">
          <ion-select-option value="proyectoUno" [value]="proyecto">{{proy.descProyecto}} </ion-select-option>
        </ion-list>
        

        </ion-select>
      </div>
      
      <div class="wrapForm fecha">
        <h3>FECHA DE ENTREGA</h3>
        <ion-datetime displayFormat="DD/MM/YY" cancelText="Cancelar" doneText="Aceptar" placeholder="Seleccione la fecha de entrega" [(ngModel)]="fecha"></ion-datetime>
      </div>
      
      <div class="wrapForm observaciones">
        <h3>OBSERVACIONES</h3>
        <ion-textarea placeholder="Ingrese las observaciones aquí..." [(ngModel)]="obs"></ion-textarea>
      </div>
      <ion-button class="btnFinalizar" color="secondary" expand="block" (click)="goToFinalizar()">
        FINALIZAR PEDIDO
      </ion-button>
      <ion-button class="btnAtras" color="tertiary" expand="block" (click)="goToPasoUno()">
        ATRÁS
      </ion-button>
    </div>

<div *ngIf="authService.cantidadComprada == 0">
   <h2 text-center class="pageTitle">AUN NO SELECCIONO NINGUN PRODUCTO! </h2>

</div>
</ion-content>
