/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.slideIntro{
    .swiper-pagination-bullets {
        bottom: 11vh;
    }
}

ion-menu {
    ion-header {
        ion-title {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
        }
    }
    
    ion-header::after {
        background-image: none !important;
        border-bottom: 1px solid #dcdcdc;
    }

    ion-content {
        ion-list {
            ion-menu-toggle {
                ion-item {
                    img {
                        max-width: 10%;
                        margin-right: 15px;
                    }
                    ion-label {
                        padding: 5px 0; 
                    }
                }
            }
        }
    }
}

ion-toolbar {
    ion-buttons {
        position: absolute;
    }
}

ion-select-popover {
    ion-list {
        ion-radio-group {
            ion-item {
                font-weight: 600;
                font-size: .8rem;
            }
        }
    }
}

ion-alert {
    .alert-head {
        .alert-title {
            font-weight: 600;
            text-align: center;
            font-size: 1rem;
        }
    }
    .alert-button-group {
        .alert-button {
            font-weight: 600;
        }
    }
}